/* 1rem is about 16px */

.link {
    font-family: Arial;
    font-size: 0.9rem;
    margin: 2rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 12rem;
}

.login-form .form-input {
	margin-bottom: 1rem;
}

.submit-button {
    margin-bottom: 2rem;
	width: 8rem;
}

.help-button {
	width: 10rem;
    border-style: none;
    background-color: FFFFFF;
    height: 4rem;
}