/* 1rem is about 16px */

.logo-nav {
    height: 4rem;
    width: 4rem;
}

nav {
    background: lightblue;
	display: flex;
	min-height: 4rem;
}

.nav-links {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}

li {
    font-family: Arial;
}