/* 1rem is about 16px */

h1, h3 {
  font-family: Arial;
}

.link {
    font-family: Arial;
    font-size: 0.9rem;
    margin: 2rem;
}

.link-spacing {
    display: flex;
    font-family: Arial;
    font-size: 0.9rem;
    margin: 1rem;
    justify-content: space-between;
}

.logo {
	height: 10rem;
	width: 10rem;
}

p {
    font-family: Arial;
    font-size: 0.9rem;
    margin-top: 0;
}